aside{
    z-index: 1;
    padding-top: 20px;
    float: left;
    /* background-color: rgba(251, 249, 249, 0.199); */
    display: flex;
    overflow-x: auto;
    transition: 400ms;
    overflow-y:visible;
    scrollbar-color: transparent transparent;
    flex-direction: column;

}

aside *{
    background-color: black;
}
hr{
    margin: 0px;
}
aside>b{
    padding: 10px;
}

hr{
    width: 90%;
    color: rgba(255, 255, 255, 0.353);
}