.buttonDiv {
    display: flex;
    background-color: transparent;
    border-radius: 20px;
    justify-content: left;
    padding: 10px;
    margin: 2px;
    text-align: center;
    align-items: center;
}

.buttonDiv img {
    position: relative;
    bottom: 5px;
}

.buttonDiv:hover {
    /* background-color: rgba(255, 240, 251, 0.323); */
    cursor: pointer;
}

.btnLink {
    text-decoration: none;
    background-color: transparent;
}

.buttonDiv b {
    background-color: transparent;
}

.buttonDiv .Sideicon {
    height: 20px;
    flex-basis: 40px;
    background-color: transparent;
}

@media screen and (max-width:500px) {
    .btnLink:nth-child(1) {
        display: none;
    }

    .btnLink:nth-child(2) {
        position: relative;
        top: 30%;
    }
}