.tagsList{
    z-index: 0;
    /* position: absolute; */
    top: 0px;
    height: 50px;
    min-width: 100%;
    display: flex;
    scrollbar-width: none;
}
.tags{
    width: 100%;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
}


.tag{
    min-width:fit-content;
    background-color: rgba(204, 188, 188, 0.301);
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    transition: 300ms;
}

.tag:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.537);
}


.tag[current=true]{
    color: white;
    background-color:rgba(0, 0, 0, 0.697);
}