
.VideoThumbnail{
    border-radius: 20px 20px 0px 0px;
    background-color:transparent;
    width:360px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
}

.videoBox{
    z-index: 0;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width:360px;
    height: 300px;
    transition: 500ms;
}

.channelIcon{
    z-index: 0;
    display: inline;
    position: relative;
}

.videoBox:hover{
    cursor: pointer;
}


.videoDesctiption{
    background-color: transparent;
    position: relative;
    background-color: rgba(255, 255, 255, 0.186);
    bottom: 30px;
    backdrop-filter: blur(20px);
}

.videoDesctiption *{
    margin: 3px;
}

.videoDesctiption i{
    text-decoration: wavy;
}