
body{
  /* margin: 0; */
  max-height: 100vh;
  overflow: hidden;
  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
}

body {
  background-color: black;
}

* {
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}